body {
    font-family: "Roboto", sans-serif;
}

.bg-yellow {
    background-color: #eac926;
}

.bg-ligth-grey {
    background-color: #ebebeb;
}

.bg-blue {
    background-color:#03264C
}

.bg-white{
    background-color: #ffffff;
}

.c-dark-grey {
    color: #666;
}

.c-sky-blue {
    color: #1259c3;
}

.c-green {
    color: #39b54a;
}

.font-2e {
    font-size: 2em;
}

.font-12 {
    font-size: 12px;
}

.font-16 {
    font-size: 16px;
}

.font-18 {
    font-size: 18px;
}

.font-24 {
    font-size: 24px;
}

.fw-400 {
    font-weight: 400;
}

/*.section-flex{
    display:flex;
    flex-direction: column;
}*/

.burguer-icon2 {
    color:#ffffff;
    padding: 8px 10px;
    margin-bottom: 5px;
    background-color: #1259c3;
    border-radius: 8%;
    font-size: 20px;
    max-width: 40px;
    text-align: center;
    display: block;
    margin: auto;
    margin-top: 20px;
}

.logo {
    width: 33%;
    animation: aumentar 1s linear infinite alternate;
    z-index: 10;
}

/*.burguer-icon {
    background-color: #1259c3;
    color:#ffffff;
    display: block;
    max-width: 50px;
    padding: 15px 0;
    border-radius: 8%;
    text-align: center;
    font-size: 18px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}*/

.main-navbar {
    display: none;
}

.main-navbar li {
    list-style: none;
    margin:0;
    padding: 0;
}

.main-navbar a {
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0;
    font-size: 12px;
}

.text-center {
    text-align: center;
}

.mt-5 {
    margin-top: 3px;
}

.mt-10 {
    margin-top: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

.ml-4 {
    margin-left: 4px;
}

.vw-90 {
    width: 90vw;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.pd-15 {
    padding: 0 15px 15px 15px;
}

.pd-tb-15 {
    padding: 15px 0 ;
}
.pd-20 {
    padding: 20px;
}

.bt-1-s {
    border-top: 1px solid;
}

.br-10 {
    border-radius: 10px;
}

.border-grey {
    border-color: #ebebeb;
}

.circle {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: #39b54a solid 1px;
 }

 .hidden {
    display: none   ;
 }

 .div-container {
    display:flex;
    align-items: flex-end;
    flex-wrap: wrap;
 }

 .w-70 {
    width:70%
 }

 .w-30 {
    width:30%
 }

 section img {
    max-width: 90vw;
    display: block;
    margin: auto;
 }
 
 .truck-icon {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
 }

 .truck-icon:hover {
    transform: rotate(270deg);
 }

 .desc-box {
    position: relative;
 }

 .main-header-top-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

div h1 p {
    width: 40%;
}

div h4 {
    width: 100%;    
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner {
    padding-top: 5px;
    width: 100vw;
}

footer h4 {
    margin: auto;
}

/*header {
    position: sticky;
    top: 20px;
}*/

/* estilos formulario register */

 .form-register {
    padding: 20px 15px;
}

.perfil-user {
    padding: 10px 0px;
    display: flex;
    align-items: center;
    justify-content:left;
}

fieldset {
    margin-bottom: 15px;
    border:none;
}


.radio {    
    margin:0 10px;
}

.form-select {
    padding: 10px 0px;
    align-items: center;
}

.select {
    margin-bottom: 20px;
}

.wd-40 {
    width: 40%;
}

.form-input {
    width: 100%;
    border-radius: 4px;
    border:none;
    height: 25px;
    color:grey;
    font-size: 10px;
    padding:0 10px;
}

.form-bottom {
    display: flex;
    justify-content: space-around;
    margin: 0 20px;
}

div h5 {
    font-size: 13px;
}

.bar-search {
    flex-wrap: wrap;
    flex-grow: 0.8;
}

.lupa {
    position: absolute;
    top:6px;
    right:3px;
}

.wd-80 {
width:80%;
}

.mg-20 {
    margin: 0 20px;
}

/* - - - - */

/* estilos de videos PG Javi Herrera */

 .create-form {
    padding: 20px 15px;
    margin-top: 160px;
 }

 .control-formulario {
    margin-bottom: 15px;
 }

 .control-formulario label {
    margin-bottom: 5px;
    font-style: italic;
    display: block;
 }

.control {
    width: 100%;
    padding: 8px;
}

.boton-formulario {
    background-color: #1259c3;
    border: none;
    font-size: 20px;
    color:#ffffff;
    padding: 5px 10px;
    border-radius: 5px;
}

.boton-formulario:hover {
    background-color: #0022AA;
}
/* ----- */

.main-header {
    position: fixed;
    top:0;
    z-index: 100;
}

.product {
    padding: 0 15px;
    position: relative;
    margin: 30px 15px;
}

.product img {
    width: 100%;
}

.product:hover h2 {
    opacity: 1;
    background-color: rgba(255,0,0,0.5);
    border-radius: 50%;
}

.product h2 {
    background-color: rgba(0,0,0,0.7);
    color: #ffffff;
    margin: 0;
    padding: 15px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 450ms;
}

@keyframes aumentar {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.3);
    }
}


@media (min-width:520px) {
    .md-product-shadow:hover {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);        
    }

    .prod:hover .hidden {
        display: flex;
        /*flex-direction: column*/;
    }

   /*.vw-100 {
    width: 100vw;
   }*/
   
    .burguer-icon2 {
        color:#ffffff;
        padding: 8px 10px;
        margin-bottom: 5px;
        background-color: #1259c3;
        border-radius: 8%;
        font-size: 20px;
        max-width: 40px;
        text-align: center;
        display: none;
        margin: auto;
        margin-top: 20px;
    }

    .main-header-top-bar {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
    }
    
    div h1 {
        max-width: 35%;
    }
    
    div h4 {
        width: 30%;
    }

    /*.copy-header{
        max-width: 100px;
        text-align: right;
    }*/

    .main-navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction:row;

    }

    .main-navbar ul {
        display: flex;
    }

    .main-navbar li {
        margin: 0 5px;
    }

    section {
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    section h2 {
        width: 90vw;
    }
    
    section img {
        width: 40vw;
        margin: auto;

     }

         
    }

@media (min-width: 1280px) {
    section img {
        width: 20vw;
        margin: auto;

     }

     div h1 {
        max-width: 30%;
    }

    footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
       
    }

    .foot-div {
        width:33%;
        
    }

    .foot-p {
        width: 100%;
                
    }

    .foot-icon:hover {
        color: #0022AA;
    }


    
}
