img {
    width: 150px;
    }

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
}

.icon-footer {
    font-size: 2em;
    margin-bottom: 10px;
    color: #1259c3;
}

.bg-yellow {
    background-color: #eac926;
}

.bg-ligth-grey {
    background-color: #ebebeb;
}

.bg-blue {
    background-color:#03264C
}

.bg-sky-blue {
background-color:  #1259c3;
}

.bg-white{
    background-color: #ffffff;
}

.c-dark-grey {
    color: #666;
}

.c-green {
    color: #39b54a;
}

.font-12 {
    font-size: 12px;
}

.font-16 {
    font-size: 16px;
}

.font-18 {
    font-size: 18px;
}

.font-24 {
    font-size: 24px;
}

.text-center {
    text-align: center;
}

